---
Language: Cpp
BasedOnStyle: Microsoft
Standard: Latest

IndentWidth: 4
TabWidth: 4
UseTab: Never
ColumnLimit: 80

BreakBeforeBraces: Allman
BinPackArguments: false
BinPackParameters: false
AllowAllArgumentsOnNextLine: false
AllowAllParametersOfDeclarationOnNextLine: false
AllowShortBlocksOnASingleLine: Never
AllowShortCaseLabelsOnASingleLine: false
AllowShortEnumsOnASingleLine: false
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false

AlignAfterOpenBracket: BlockIndent
AlignConsecutiveAssignments: None
AlignConsecutiveDeclarations: None
AlignOperands: Align
BreakConstructorInitializers: AfterColon
ConstructorInitializerIndentWidth: 4
ContinuationIndentWidth: 4

IncludeBlocks: Preserve
SortIncludes: CaseSensitive
PointerAlignment: Left
ReferenceAlignment: Left
SpaceBeforeParens: ControlStatements
SpacesInAngles: Never
SpacesInParentheses: false
...
